#top-head {
  position: relative;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #5c5c5c;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

#user-ID {
  color: #FFFF
}

@media only screen and (min-width: 1020px) {
  #top-head {
    margin-top: 100px;
    margin-left: 100px; 
    height: auto;
    width: 30%;
    flex-direction: column;
    float: left;
    justify-content: center;
  }

  #user-photo{
    margin-top: 20px;
  }

  #user-ID {
    margin-top: 0px;
  }

  .container {
    margin-left: 0px;
    display: flex;
    float: right;
    width: 60%;
  }

  #newTweet {
    width: 100%;
  }

}