#old-tweet-section {
  margin-top: 100px;
  padding: 20px;
  width: 100%;
}

#old-tweet-article{
  border: 3px solid #373737;
  border-radius: 25px;
  padding-bottom: 20px;
  padding-top: 10px;
  transition: box-shadow .3s;
  margin-bottom: 20px;
}
#old-tweet-article:hover {
  box-shadow: 7px 7px 5px 0 rgb(0 0 0 / 30%);
}

#old-tweet-header {
  display: flex;
  justify-content: space-between;
}

#old-tweet-name {
  display: flex;
  padding-bottom: 20px;
}
#old-tweet-name-text {
  padding-left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
#old-tweet-profile-photo {
  margin-left: 20px;
}

#old-tweet-handle {
  margin-right: 20px;
  color: #373737;
}

#old-tweet-text {
  margin-left: 20px;
  width: 95%;
  border-bottom: 1px solid black;
}

#post-links {
  margin-right: 20px;
  color: blue
}
#post-links i:hover {
  color: #33cccc
}

#post-created-date {
  margin-left: 20px;
}

#old-tweet-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}