#old-tweet-section {
  border: 2px solid black;
  margin-top: 100px;
  padding: 20px;
  padding-bottom: 0px;
  width: 60%;
  transition: box-shadow .3s;
}
#old-tweet-section:hover {
  box-shadow: 7px 7px 5px 0 rgb(0 0 0 / 30%);
}

#old-tweet-header {
  display: flex;
  justify-content: space-between;
}

#old-tweet-name {
  display: flex;
  padding-bottom: 20px;
}
#old-tweet-name-text {
  padding-left: 20px;
  font-family: 'Source Sans Pro', sans-serif;
}
#old-tweet-profile-photo {
  width: 30%;
  height: auto;
}

#old-tweet-handle {
  color: lightgrey;
}

#old-tweet-text {
  border-bottom: 1px solid black;
}

#post-links {
  color: blue
}
#post-links i:hover {
  color: yellow
}

#old-tweet-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}